@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
html,
body {
  scroll-behavior: smooth;
}
h2 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  color: #292929;
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  h2 {
    font-size: 26px;
    margin-bottom: 15px;
  }
  p {
    font-size: 16px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  h2 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 16px;
  }
}

P {
  line-height: 1.5;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  color: #5a5a5a;
  text-align: justify;
  margin-bottom: 25px;
}

.hover-border-animation {
  width: 0;
  height: 0.1px; /* Border height */
  background-color: black; /* Border color */
  position: absolute;
  bottom: 0;
  left: 0;

  transition: width 1s ease;
}

.group:hover .hover-border-animation {
  width: 100%;
}
.hover-border-animation2 {
  width: 0;
  height: 0.1px; /* Border height */
  background-color: #6f7c84; /* Border color */
  position: absolute;
  bottom: 0;
  left: 0;

  transition: width 1s ease;
}

.group:hover .hover-border-animation2 {
  width: 100%;
}

#amenitieSlider {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 70px;
  /* width: 20px; */
}
